.container {
    padding: 0 0 50px 0;
}
$btn-background: #F7E308;

.loans__heading {
    font-weight: 600;
    font-size: 30px;
    padding: 32px 0 32px 64px;
    border-bottom: 1px solid rgba(48, 50, 71, 0.1);
    margin-bottom: 32px;
}

.loans__container {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    border: 1px solid rgba(48, 50, 71, 0.1);
    border-radius: 20px;
    margin-left: 64px;
    margin-bottom: 32px;
    width: 40%;
}

.loans__name {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 16px;
}
.loans__description {
    font-weight: 400;
    font-size: 20px;
}

.loans__button {
    font-weight: 500;
    font-size: 20px;
    padding: 12px 32px;
    background-color: $btn-background;
    cursor: pointer;
    align-self: flex-end;
    border-radius: 5px;
    border: 0px solid $btn-background;
    text-transform: uppercase;
}

.loans__amount {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 64px;
}

.loans__msg, .loans__total {
    font-weight: 600;
    font-size: 20px;
}